<div [class.expanded]="expanded" [class.unexpanded]="!expanded">
{{file.name}} 
    <button type="button" class="btn btn-default btn-sm" (click)="toggleExpand()" *ngIf="file.is_dir">
        <span *ngIf="!expanded" class="glyphicon glyphicon-menu-right"></span>
        <span *ngIf="expanded" class="glyphicon glyphicon-menu-down"></span>
    </button> 
    <button *ngIf="!file.is_dir" (click)="selectFile()" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-play"></span>
    </button>
    <ul *ngIf="expanded" class="list-group-item">
    <app-file  *ngFor="let subfile of file.contents" [file]="subfile" (selectFileEvent)="fileSelected($event)"></app-file>
    </ul>
</div>